@model FactuCR.Models.ConfigCompany

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ConfigCompany</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompannyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompannyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Province)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Province)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Canton)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Canton)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OtherSigns)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OtherSigns)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserTax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserTax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PasswordTax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PasswordTax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrencyValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrencyValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdTypeNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdTypeNavigation.Code)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdConfig" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
