@model FactuCR.Models.ConfigCompany

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h4>Eliminar Configuración</h4>

<h3>¿Esta seguro que desea eliminar la configuración?</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            <label>Nombre Completo</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            <label>Número Identificación</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUser)
        </dd>
        <dt>
            <label>Nombre Compañia</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompannyName)
        </dd>
        <dt>
            <label>Correo Electrónico</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            <label>Teléfono</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt>
            <label>Fax</label>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt>
            <label>Province</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Province)
        </dd>
        <dt>
            <label>Canton</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Canton)
        </dd>
        <dt>
            <label>Distrito</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt>
            <label>Otras Señas</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OtherSigns)
        </dd>
        <dt>
            <label>Código País</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            <label>Usuario Tributación</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserTax)
        </dd>
        <dt>
            <label>Contraseña Tributación</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PasswordTax)
        </dd>
        <dt>
            <label>Moneda</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt>
            <label>Tipo de Cambio</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrencyValue)
        </dd>
        <dt>
            <label>Estado</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdConfig" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Regresar</a>
    </form>

