@model FactuCR.Models.ConfigCompaniesManagement

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h4>Modificar Configuración</h4>

<form asp-action="Edit" class="form-horizontal">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="configCompany.IdConfig" />

    <div class="form-group">
        <label asp-for="configCompany.FullName" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input asp-for="configCompany.FullName" class="form-control" />
            <span asp-validation-for="configCompany.FullName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="configCompany.IdType" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <select id="idtype-select" asp-for="configCompany.IdType" class="form-control" asp-items="ViewBag.IdType">
                <option selected disabled>- Seleccione una opcion -</option>
            </select>
            <span asp-validation-for="configCompany.IdType" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label id="idnum-label" asp-for="IdentificationNumberCedJuridica" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="cedfisica-input" asp-for="IdentificationNumberCedFisica" class="form-control" data-inputmask="'mask': '9-9999-9999'" />
            <span asp-validation-for="IdentificationNumberCedFisica" class="text-danger"></span>

            <input id="cedjuridica-input" asp-for="IdentificationNumberCedJuridica" class="form-control" data-inputmask="'mask': '9-999-999999'" />
            <span asp-validation-for="IdentificationNumberCedJuridica" class="text-danger"></span>

            <input id="nite-input" asp-for="IdentificationNumberNITE" class="form-control" />
            <span asp-validation-for="IdentificationNumberNITE" class="text-danger"></span>

            <input id="dimex-input" asp-for="IdentificationNumberDIMEX" class="form-control" />
            <span asp-validation-for="IdentificationNumberDIMEX" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="configCompany.CompannyName" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="configCompany.CompannyName" class="form-control" />
            <span asp-validation-for="configCompany.CompannyName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="configCompany.Email" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="configCompany.Email" class="form-control" />
            <span asp-validation-for="configCompany.Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="configCompany.Telephone" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="configCompany.Telephone" class="form-control" />
            <span asp-validation-for="configCompany.Telephone" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="configCompany.Fax" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="configCompany.Fax" class="form-control" />
            <span asp-validation-for="configCompany.Fax" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="configCompany.Province" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <select id="ProvinceName" name="ProvinceList" asp-for="configCompany.Province" asp-items="@(new SelectList(ViewBag.provinceList,"NameProvince", "NameProvince"))" class="form-control">
                <option selected disabled>- Seleccione el c&oacute;digo de pa&iacute;s</option>
            </select>
            <span asp-validation-for="configCompany.Province" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="configCompany.Canton" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <select id="CantonName" name="CantonList" asp-for="configCompany.Canton" asp-items="@(new SelectList(string.Empty,"NameCanton", "NameCanton"))" class="form-control">
                <option selected disabled>- Seleccione el c&oacute;digo de canton</option>
            </select>
            <span asp-validation-for="configCompany.Canton" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="configCompany.District" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <select id="DistrictName" name="DistrictList" asp-for="configCompany.District" asp-items="@(new SelectList(string.Empty,"NameDistrict", "NameDistrict"))" class="form-control">
                <option selected disabled>- Seleccione un distrito</option>
            </select>
            <span asp-validation-for="configCompany.District" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="configCompany.OtherSigns" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="configCompany.OtherSigns" class="form-control" />
            <span asp-validation-for="configCompany.OtherSigns" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="configCompany.Country" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="configCompany.Country" class="form-control" />
            <span asp-validation-for="configCompany.Country" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="configCompany.UserTax" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="configCompany.UserTax" class="form-control" />
            <span asp-validation-for="configCompany.UserTax" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="configCompany.PasswordTax" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="configCompany.PasswordTax" class="form-control" />
            <span asp-validation-for="configCompany.PasswordTax" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="configCompany.Currency" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="configCompany.Currency" class="form-control" />
            <span asp-validation-for="configCompany.Currency" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="configCompany.CurrencyValue" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="configCompany.CurrencyValue" class="form-control" />
            <span asp-validation-for="configCompany.CurrencyValue" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Guardar Configuración" class="btn btn-default" />
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#idnum-label').hide();
        $('#cedfisica-input').hide();
        $('#cedjuridica-input').hide();
        $('#nite-input').hide();
        $('#dimex-input').hide();

        $('select').change(function () {
            $('#idnum-label').hide();
            $('#cedfisica-input').hide();
            $('#cedjuridica-input').hide();
            $('#nite-input').hide();
            $('#dimex-input').hide();

            if ($(this).val() === "1") {
                $('#idnum-label').show("slow");
                $('#cedfisica-input').show("slow");
            }

            if ($(this).val() === "2") {
                $('#idnum-label').show("slow");
                $('#cedjuridica-input').show("slow");
            }

            if ($(this).val() === "3") {
                $('#idnum-label').show("slow");
                $('#nite-input').show("slow");
            }

            if ($(this).val() === "4") {
                $('#idnum-label').show("slow");
                $('#dimex-input').show("slow");
            }
        })
    });

    $(function () {
        $("#ProvinceName").change(function () {
            var url = '@Url.Content("~/")' + "ConfigCompanies/getCanton";
            var ddlsource = "#ProvinceName";
            $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                var items = '';
                $("#CantonName").empty();
                $.each(data, function (i, row) {
                    items += "<option value= '>" + row.value + "'>" + row.text + "</option>";
                });
                $("#CantonName").html(items);
            })
        });
    });

     $(function () {
         $("#CantonName").change(function () {
             var url = '@Url.Content("~/")' + "ConfigCompanies/getDistrict";
             var ddlsource = "#ProvinceName";
             var ddlsource2 = "#CantonName";
             $.getJSON(url, { idP: $(ddlsource).val(), idC: $(ddlsource2).val() }, function (data) {
                var items = '';
                 $("#DistrictName").empty();
                $.each(data, function (i, row) {
                    items += "<option value= '>" + row.value + "'>" + row.text + "</option>";
                });
                 $("#DistrictName").html(items);
            })
        });
    });
</script>


