@model IEnumerable<FactuCR.Models.ConfigCompany>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Inicio Configuración Compañia</h2>

<table id="datatable" class="table table-bordered">
    <thead>
        <tr>
            <th>
                Nombre Completo
            </th>
            <th>
                Número de Identificación
            </th>
            <th>
                Nombre Conpañia
            </th>
            <th>
                Correo Electrónico
            </th>
            <th>
                Teléfono
            </th>
            <th>
                Fax
            </th>
            <th>
                Dirección
            </th>
            <th>
                Código País
            </th>
            <th>
                Usuario y Contraseña Tributación
            </th>
            <th>
                Moneda
            </th>
            <th>
                Estado
            </th>
            <th>
                Pin Hacienda
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompannyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Province),
                @Html.DisplayFor(modelItem => item.Canton),
                @Html.DisplayFor(modelItem => item.District),
                @Html.DisplayFor(modelItem => item.neighborhood),
                @Html.DisplayFor(modelItem => item.OtherSigns).
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserTax)
                @Html.DisplayFor(modelItem => item.PasswordTax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
                @Html.DisplayFor(modelItem => item.CurrencyValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdConfig">Modificar</a> |
                <a asp-action="Details" asp-route-id="@item.IdConfig">Detalles</a>
            </td>
        </tr>
        }

    </tbody>
</table>
