@model FactuCR.Models.ClientManagement

@{
    ViewData["Title"] = "Create";
    ViewData["PanelTitle"] = "Nuevo Cliente";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<form id="new-client-form" asp-action="Create" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Client.IdType" class="control-label col-md-3 col-sm-3 col-xs-12">Tipo de indentificaci&oacute;n *</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select id="idtype-select" asp-for="Client.IdType" class="form-control" asp-items="ViewBag.IdType">
                <option selected disabled>- Seleccione el tipo de identificaci&oacute;n -</option>
            </select>
            <span asp-validation-for="Client.IdType" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label id="idnum-label" asp-for="IdentificationNumberCedJuridica" class="control-label col-md-3 col-sm-3 col-xs-12">N&uacute;mero de identificaci&oacute;n *</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="cedfisica-input" asp-for="IdentificationNumberCedFisica" class="form-control" data-inputmask="'mask': '9-9999-9999'" />
            <span asp-validation-for="IdentificationNumberCedFisica" class="text-danger"></span>

            <input id="cedjuridica-input" asp-for="IdentificationNumberCedJuridica" class="form-control" data-inputmask="'mask': '9-999-999999'" />
            <span asp-validation-for="IdentificationNumberCedJuridica" class="text-danger"></span>

            <input id="nite-input" asp-for="IdentificationNumberNITE" class="form-control" />
            <span asp-validation-for="IdentificationNumberNITE" class="text-danger"></span>

            <input id="dimex-input" asp-for="IdentificationNumberDIMEX" class="form-control" />
            <span asp-validation-for="IdentificationNumberDIMEX" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Client.Name" class="control-label col-md-3 col-sm-3 col-xs-12">Nombre <span class="required">*</span></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="Client.Name" class="form-control" />
            <span asp-validation-for="Client.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Client.LastName" class="control-label col-md-3 col-sm-3 col-xs-12">Apellido <span class="required">*</span></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="Client.LastName" class="form-control" />
            <span asp-validation-for="Client.LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="TelephoneContact.CountryCode" class="control-label col-md-3 col-sm-3 col-xs-12">Informaci&oacute;n de contacto</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well" style="overflow: hidden;">
                <label asp-for="TelephoneContact.CountryCode" class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align: left;">C&oacute;digo de pa&iacute;s</label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <select asp-for="TelephoneContact.CountryCode" asp-items="ViewBag.IdCountry" class="form-control">
                        <option selected disabled>- Seleccione el c&oacute;digo de pa&iacute;s</option>

                        @foreach (var country in ViewBag.CountriesList)
                        {
                            <option value="@country.CountryCode">@country.CountryName (@country.CountryCode)</option>
                        }
                    </select>
                    <span asp-validation-for="TelephoneContact.CountryCode" class="text-danger"></span>
                </div>
                <label asp-for="TelephoneContact.TelephoneNumber" class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align: left;">N&uacute;mero telef&oacute;nico</label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <input asp-for="TelephoneContact.TelephoneNumber" class="form-control" data-inputmask="'mask': '99999999'" />
                    <span asp-validation-for="TelephoneContact.TelephoneNumber" class="text-danger"></span>
                </div>
                <label asp-for="TelephoneContact.Type" class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align: left;">Tipo de tel&eacute;fono</label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <select asp-for="TelephoneContact.Type" class="form-control">
                        <option selected disabled>- seleccione el tipo de tel&eacute;fono -</option>
                        <option value="Casa">Personal</option>
                        <option value="Movil">Movil</option>
                        <option value="Oficina">Oficina</option>
                    </select>
                </div>
                <label asp-for="TelephoneContact.Description" class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align: left;">Descripci&oacute;n del tel&eacute;fono</label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <input asp-for="TelephoneContact.Description" class="form-control" />
                    <span asp-validation-for="TelephoneContact.Description" class="text-danger"></span>
                </div>
                <label asp-for="TelephoneContact.Extension" class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align: left;">Extensi&oacute;n del tel&eacute;fono</label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <input asp-for="TelephoneContact.Extension" class="form-control" />
                    <span asp-validation-for="TelephoneContact.Extension" class="text-danger"></span>
                </div>
                <label asp-for="Client.Email" class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align: left;"></label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <input asp-for="Client.Email" class="form-control" />
                    <span asp-validation-for="Client.Email" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Datos sobre direcci&oacute;n</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well" style="overflow: hidden;">
                <label asp-for="Province" class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align: left;">Provincia</label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <select id="ProvinceName" asp-for="Province" asp-items="@(new SelectList(ViewBag.provinceList,"NameProvince", "NameProvince"))" class="form-control"></select>
                    <span asp-validation-for="Province" class="text-danger"></span>
                </div>
                <label asp-for="Canton" class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align: left;">Cantón</label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <select id="CantonName" asp-for="Canton" asp-items="@(new SelectList(string.Empty,"NameCanton", "NameCanton"))" class="form-control"></select>
                    <span asp-validation-for="Canton" class="text-danger"></span>
                </div>
                <label asp-for="District" class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align: left;">Distrito</label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <select id="DistrictName" asp-for="District" asp-items="@(new SelectList(string.Empty,"NameDistrict", "NameDistrict"))" class="form-control"></select>
                    <span asp-validation-for="District" class="text-danger"></span>
                </div>
                <label asp-for="neighborhood" class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align: left;">Barrio</label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <select id="NeighborhoodName" asp-for="neighborhood" asp-items="@(new SelectList(string.Empty,"NameNeighborhood", "NameNeighborhood"))" class="form-control"></select>
                    <span asp-validation-for="neighborhood" class="text-danger"></span>
                </div>
                <label asp-for="address.OtherSigns" class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align: left;">Otras Señas</label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <input asp-for="address.OtherSigns" class="form-control" />
                    <span asp-validation-for="address.OtherSigns" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Client.Country" class="control-label col-md-3 col-sm-3 col-xs-12"> Pais <span class="required">*</span></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select asp-for="Client.Country" asp-items="ViewBag.IdCountry" class="form-control">
                <option selected disabled>- Seleccione el pa&iacute;s</option>

                @foreach (var country in ViewBag.CountriesList)
                {
                    <option value="@country.CountryName">@country.CountryName</option>
                }
            </select>
            <span asp-validation-for="TelephoneContact.CountryCode" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Client.Status" class="control-label col-md-3 col-sm-3 col-xs-12">Estado <span class="required">*</span></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select asp-for="Client.Status" class="form-control">
                <option selected disabled>- seleccione el tipo de tel&eacute;fono -</option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Client.AdmissionDate" class="control-label col-md-3 col-sm-3 col-xs-12">Fecha de Ingreso <span class="required">*</span></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="Client.AdmissionDate" type="text" class="form-control" value="@DateTime.Now.ToShortDateString()" readonly />
            <span asp-validation-for="Client.AdmissionDate" class="text-danger"></span>
        </div>
    </div>
    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-6 col-md-6 col-xs-12 col-md-offset-3 col-sm-offset-3">
            <button type="submit" value="Guardar" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar Cliente</button>
            <a asp-action="Index" class="btn btn-default"><i class="fa fa-caret-square-o-left"></i> Cancelar</a>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#idnum-label').hide();
        $('#cedfisica-input').hide();
        $('#cedjuridica-input').hide();
        $('#nite-input').hide();
        $('#dimex-input').hide();

        $('select').change(function () {
            $('#idnum-label').hide();
            $('#cedfisica-input').hide();
            $('#cedjuridica-input').hide();
            $('#nite-input').hide();
            $('#dimex-input').hide();

            if ($(this).val() === "1") {
                $('#idnum-label').show("slow");
                $('#cedfisica-input').show("slow");
            }

            if ($(this).val() === "2") {
                $('#idnum-label').show("slow");
                $('#cedjuridica-input').show("slow");
            }

            if ($(this).val() === "3") {
                $('#idnum-label').show("slow");
                $('#nite-input').show("slow");
            }

            if ($(this).val() === "4") {
                $('#idnum-label').show("slow");
                $('#dimex-input').show("slow");
            }
        })
    });
     $(function () {
        $("#ProvinceName").change(function () {
            var url = '@Url.Content("~/")' + "ConfigCompanies/getCanton";
            var ddlsource = "#ProvinceName";
            $.getJSON(url, { Province: $(ddlsource).val() }, function (data) {
                var items = '';
                $("#CantonName").empty();
                $.each(data, function (i, row) {
                    items += "<option value= '" + row.value + "'>" + row.text + "</option>";
                });
                $("#CantonName").html(items);
            })
        });
    });


     $(function () {
         $("#CantonName").change(function () {
             var url = '@Url.Content("~/")' + "ConfigCompanies/getDistrict";
             var ddlsource = "#ProvinceName";
             var ddlsource2 = "#CantonName";
             $.getJSON(url, { Province: $(ddlsource).val(), Canton: $(ddlsource2).val() }, function (data) {
                var items = '';
                 $("#DistrictName").empty();
                $.each(data, function (i, row) {
                    items += "<option value= '" + row.value + "'>" + row.text + "</option>";
                });
                 $("#DistrictName").html(items);
            })
        });
    });

    $(function () {
        $("#DistrictName").change(function () {
            var url = '@Url.Content("~/")' + "ConfigCompanies/getNeighborhood";
             var ddlsource = "#ProvinceName";
            var ddlsource2 = "#CantonName";
            var ddlsource3 = "#DistrictName";
            $.getJSON(url, { Province: $(ddlsource).val(), Canton: $(ddlsource2).val(), District: $(ddlsource3).val()}, function (data) {
                var items = '';
                 $("#NeighborhoodName").empty();
                $.each(data, function (i, row) {
                    items += "<option value= '" + row.value + "'>" + row.text + "</option>";
                });
                $("#NeighborhoodName").html(items);
            })
        });
    });

</script>
