@model FactuCR.Models.ClientManagement

@{
    ViewData["Title"] = "FCR - Eliminar Cliente";
    ViewData["PanelTitle"] = "¿Seguro que desea eliminar este Cliente?";
    ViewData["Annotation"] = "cuando los datos son borrados, no pueden ser recuperados";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<dl class="dl-horizontal">
    <dt>
        Tipo de Identificaci&oacute;n
    </dt>
    <dd>
        @ViewBag.IdentificationType.Name
    </dd>
    <dt>
        Identificaci&oacute;n
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Client.IdentificationNumber)
    </dd>
    <dt>
        Nombre completo
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Client.Name) @Html.DisplayFor(model => model.Client.LastName)
    </dd>
    <dt>
        Correo Electr&oacute;nico
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Client.Email)
    </dd>
    <dt>
        Pa&iacute;s
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Client.Country)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Client.Status)
    </dt>
    <dd>
        @{ 
            if (Model.Client.Status == 0)
            {
                <text>Inactivo</text>
            }
            else
            {
                <text>Activo</text>
            }
        }
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Client.AdmissionDate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Client.AdmissionDate)
    </dd>

</dl>
<div class="ln_solid"></div>
<form asp-action="Delete">
    <input type="hidden" asp-for="Client.IdClient" />
    <button type="submit" value="Eliminar" class="btn btn-danger"><i class="fa fa-trash-o"></i> Eliminar</button>
    <a asp-action="Index" class="btn btn-default"><i class="fa fa-caret-square-o-left" aria-hidden="true"></i> Cancelar</a>
</form>
