@model FactuCR.Models.Client

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SecondName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EntityIdEntityNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntityIdEntityNavigation.IdEntity)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EntityIdEntity" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
