@model FactuCR.Models.Client

@{
    ViewData["Title"] = "Detlles";
    ViewData["PanelTitle"] = "Detalles de un Cliente";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<dl class="dl-horizontal">
    <dt>
        Tipo de Identificaci&oacute;n
    </dt>
    <dd>
        @Html.DisplayFor(model => model.IdTypeNavigation.Name)
    </dd>
    <dt>
        Identificaci&oacute;n
    </dt>
    <dd>
        @Html.DisplayFor(model => model.IdentificationNumber)
    </dd>
    <dt>
        Nombre completo
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.LastName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Country)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Country)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Status)
    </dt>
    <dd>
        @{
            if (Model.Status == 0)
            {
                <text>Inactivo</text>
            }
            else
            {
                <text>Activo</text>
            }
        }
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.AdmissionDate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.AdmissionDate)
    </dd>

    <dt>
        Informaci&oacute;n de contacto
    </dt>
    <dd>
        <table class="table table-fit">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>C&oacute;digo de pa&iacute;s</th>
                    <th>Tel&eacute;fono</th>
                    <th>Tipo de Tel&eacute;fono</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                    <td>@ViewBag.TelephoneContact.CountryCode</td>
                    <td>@ViewBag.TelephoneContact.TelephoneNumber</td>
                    <td>@ViewBag.TelephoneContact.Type</td>
                </tr>
            </tbody>
        </table>
    </dd>
</dl>

<div class="ln_solid"></div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdClient" class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar Cliente</a>
    <a asp-action="Index" class="btn btn-default"><i class="fa fa-caret-square-o-left" aria-hidden="true"></i> Regresar a la lista</a>
</div>
