@model FactuCR.Models.BillManagement

@{
    ViewData["Title"] = "Create";
    ViewData["PanelTitle"] = "Crear Factura";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<link href="~/css/createBill.css" rel="stylesheet" />

<div id="billFormContainer">
    <h2>Informaci&oacute;n general</h2>

    <form asp-action="Create" class="form-horizontal" onkeypress="return event.keyCode != 13;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <!--
        <div class="form-group">
            <label asp-for="MasterInvoiceVoucher.IdKey" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select asp-for="MasterInvoiceVoucher.IdKey" class="form-control" asp-items="ViewBag.IdKey"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MasterInvoiceVoucher.Status" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input asp-for="MasterInvoiceVoucher.Status" class="form-control" />
                <span asp-validation-for="MasterInvoiceVoucher.Status" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MasterInvoiceVoucher.XmlEnviadoBase64" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input asp-for="MasterInvoiceVoucher.XmlEnviadoBase64" class="form-control" />
                <span asp-validation-for="MasterInvoiceVoucher.XmlEnviadoBase64" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MasterInvoiceVoucher.RespuestaMhbase64" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input asp-for="MasterInvoiceVoucher.RespuestaMhbase64" class="form-control" />
                <span asp-validation-for="MasterInvoiceVoucher.RespuestaMhbase64" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MasterInvoiceVoucher.Env" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input asp-for="MasterInvoiceVoucher.Env" class="form-control" />
                <span asp-validation-for="MasterInvoiceVoucher.Env" class="text-danger"></span>
            </div>
        </div>
        -->
        <div class="form-group">
            <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-8">
                <label class="control-label">Fecha actual</label>
                <input id="dateInput" class="form-control" value="@DateTime.Now.ToShortDateString()" readonly />
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-6">
                <label class="control-label">Tipo de documento</label>
                <select id="voucherType-select" class="form-control">
                    <option selected value="1">Factura Electr&oacute;nica</option>
                    <option value="2">Tiquete Electr&oacute;nico</option>
                </select>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <label asp-for="MasterInvoiceVoucher.IdPayment" class="control-label">M&eacute;todo de pago</label>
                <select id="payment-select" asp-for="MasterInvoiceVoucher.IdPayment" class="form-control" asp-items="ViewBag.IdPayment">
                    <option selected disabled value="0">- seleccione el m&eacute;todo de pago -</option>
                </select>
                <span id="paymentMethodValidation" class="text-danger hidden">Debe seleccionar el m&eacute;todo de pago</span>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <label asp-for="MasterInvoiceVoucher.IdCondition" class="control-label">Codici&oacute;n de pago</label>
                <select id="condition-select" asp-for="MasterInvoiceVoucher.IdCondition" class="form-control" asp-items="ViewBag.IdCondition">
                    <option selected disabled value="0">- seleccione la condici&oacute;n de pago -</option>
                </select>
                <span id="conditionValidation" class="text-danger hidden">Debe seleccionar la condici&oacute;n de pago</span>
            </div>
        </div>
        <div class="form-group">
            <div id="clientSelectContainer" class="col-md-4 col-sm-6 col-xs-12">
                <label class="control-label">Cliente</label>
                <div class="ui-widget">
                    <input id="clientsForSearch" class="form-control" placeholder="Buscar cliente..." />
                    <input id="selectedClientId" class="hidden" type="hidden" />
                    <span id="clientSelectionValidation" class="text-danger hidden">Debe seleccionar un cliente</span>
                </div>
                <!--
                <select id="clientId-select" class="form-control" asp-for="Client.IdClient" asp-items="@ViewBag.ClientsList">
                    <option selected disabled value="0">- seleccione un cliente -</option>
                </select>
                -->
            </div>
        </div>
        <div class="form-group">
        </div>
        <div class="ln_solid"></div>
        <div style="margin-bottom: 30px;">
            <h2>L&iacute;neas de detalle</h2>
        </div>
        <div class="form-group">
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 10px;">
                <button id="btnAddProduct" type="button" class="btn btn-warning"><i class="fa fa-plus" aria-hidden="true"></i> Agregar Producto</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <table id="productsTable" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Monto Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <span id="noLineDetailValidation" class="text-danger hidden">Debe tener al menos una l&iacute;nea de detalle</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-sm-4 col-xs-12 col-md-offset-9 col-sm-offset-8">
                <label class="control-label">Total</label>
                <input id="totalAmount" value="0" class="form-control" readonly />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-sm-4 col-xs-12 col-md-offset-9 col-sm-offset-8">
                <label class="control-label">Monto Pagado</label>
                <input class="form-control" value="0" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-sm-4 col-xs-12 col-md-offset-9 col-sm-offset-8">
                <label class="control-label">Cambio</label>
                <input class="form-control" value="0" readonly />
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-3 col-sm-4 col-xs-12 col-md-offset-9 col-sm-offset-8">
                <button type="button" class="btn btn-success col-md-12 col-sm-12 col-xs-12" onclick="postAllBillToController()"><i class="fa fa-check" aria-hidden="true"></i> Emitir Factura</button>
            </div>
        </div>
    </form>
</div>

<div id="generatingBillContainer" class="center-block well hidden" style="width: 100%; text-align:center;">
    <div class="loader center-block"></div>
    <div style="height: 10px;"></div>
    <label class="control-label">Generando la factura...</label>
</div>

<div id="formUploadedContainer" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden">
    <h2>Documento PDF de la Factura</h2>
    <embed id="embeddedPDF" height="600" class="embedPDF" />
    <button id="downloadPDF" type="button" class="btn btn-success">Descargar PDF</button>
</div>

<div id="addProductModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">Agregar un producto a factura</label>
                <button type="button" class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body" style="overflow: hidden;">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <label class="control-label">Producto</label>
                    <div class="ui-widget">
                        <input id="productsForSearch" class="form-control" placeholder="Buscar producto..." />
                        <input class="hidden" id="selectedProductId" type="hidden" />
                        <span id="productSelectionValidate" class="text-danger">Debe seleccionar un producto</span>
                    </div>
                    <!--
                    <select id="addProduct-select" asp-for="IdProduct" class="form-control" asp-items="@ViewBag.ProductsList">
                        <option selected disabled>- seleccione el producto -</option>
                    </select>
                    -->
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <label class="control-label">Cantidad</label>
                    <input id="quantity-input" type="number" class="form-control" value="1" />
                    <span id="quantityValidate" class="text-danger">Debe ingresar una cantidad mayor a 0</span>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnAddProductDetail" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Agregar</button>
                <button id="btnHideModal" type="button" class="btn btn-default"><i class="fa fa-caret-square-o-left" aria-hidden="true"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>

<img id="testImg" src="~/images/fullBrandBlack.jpg" class="hidden" />
<!-- Init Script Tags -->
<script src="~/vendor/jsPDF/jspdf.min.js"></script>
<script src="~/vendor/jquery-json-master/dist/jquery.json.min.js"></script>
<script>
    var doc = new jsPDF('1', 'pt', 'letter');
    var productsList = @Html.Raw(ViewBag.Products);
    var clientsList = @Html.Raw(ViewBag.Clients);
    var taxesList = @Html.Raw(ViewBag.Taxes);

    $(document).ready(function () {
        //----------------------- Hide validations ---------------------
        $('#productSelectionValidate').hide();
        $('#quantityValidate').hide();
        //--------------------------------------------------------------

        $('#voucherType-select').change(function () {
            if ($(this).val() == 1) {
                $('#clientSelectContainer').show("slow");
            } else {
                $('#clientSelectContainer').hide();
                $('#clientId-select').val(0);
            }
        });

        $('#payment-select').change(function () {
            if ($(this).val() != 0) {
                $('#paymentMethodValidation').addClass('hidden');
            }
        });

        $('#condition-select').change(function () {
            if ($(this).val() != 0) {
                $('#conditionValidation').addClass('hidden');
            }
        });

        $('#downloadPDF').click(function () {
            doc.save('test.pdf');
        });

        $('#btnAddProduct').click(function () {
            $('#addProductModal').modal('show');
        });
        $('#btnHideModal').click(function () {
            $('#addProductModal').modal('hide');
            clearAddProductFields();
        });

        //------------------- Make Products List Input -------------------        
        var productsAvailable = [];

        $.each(productsList, function (index, value) {
            productsAvailable.push(
                {
                    value: value.CodeProduct + " - " + value.NameProduct,
                    data: value.IdProduct
                }
            );

        });

        $('#productsForSearch').autocomplete({
            lookup: productsAvailable,
            onSelect: function (suggestion) {
                $('#selectedProductId').val(suggestion.data);
            }
        });

        $('#productsForSearch').keyup(function () {
            if ($('#productsForSearch').val() == "") {
                $('#productSelectionValidate').show();
                $('#selectedProductId').val("");
            } else {
                $('#productSelectionValidate').hide();
            }
        });

        //------------------ Make Clients List Input --------------------
        var clientsAvailable = [];

        $.each(clientsList, function (index, value) {
            clientsAvailable.push(
                {
                    value: value.IdentificationNumber + " - " + value.Name + " " + value.LastName,
                    data: value.IdClient
                }
            );
        });

        $('#clientsForSearch').autocomplete({
            lookup: clientsAvailable,
            onSelect: function (suggestion) {
                $('#selectedClientId').val(suggestion.data);
            }
        });

        $('#clientsForSearch').keyup(function () {
            if ($('#clientsForSearch').val() == "") {
                $('#clientSelectionValidation').show();
                $('#selectedClientId').val("");
            } else {
                $('#clientSelectionValidation').hide();
            }
        });

        //---------------------------------------------------------------

        $('#quantity-input').keyup(function () {
            if ($('#quantity-input').val() == "" || $('#quantity-input').val() < 1) {
                $('#quantityValidate').show();
            } else {
                $('#quantityValidate').hide();
            }
        });

        //------------------------------ Add Product Detail to Table --------------------------------
        $('#btnAddProductDetail').click(function () {
            if ($('#selectedProductId').val() == "") {
                $('#productSelectionValidate').show();
            } else if ($('#quantity-input').val() == "" || $('#quantity-input').val() < 1) {
                $('#quantityValidate').show();
            } else {
                var id = $('#selectedProductId').val();

                $.each(productsList, function (index, value) {

                    if (id == value.IdProduct) {
                        var productName = value.NameProduct;
                        var productCode = value.CodeProduct;
                        var productUnitPrice = value.SalePrice;
                        var productQuantity = $('#quantity-input').val();
                        var totalAmount = productUnitPrice * productQuantity;
                        var idUnit = value.IdUnit;
                        var idTax = value.IdTax;

                        //----------------- Look for product in table --------------------
                        
                        if ($('#rowWithProductId' + id).length > 0) {
                            var rQuantity = parseFloat($('#rowWithProductId' + id).find('.quantity').html());
                            var rTotalAmount = parseFloat($('#rowWithProductId' + id).find('.totalAmount').html());

                            $('#rowWithProductId' + id).find('.quantity').html(rQuantity + parseFloat(productQuantity));
                            $('#rowWithProductId' + id).find('.totalAmount').html(rTotalAmount + totalAmount);
                        } else {
                            //--------------------- Add if product not in table -------------
                            var tableRow = "<tr id=rowWithProductId" + value.IdProduct + ">"
                                + "<td class='productId hidden'>" + value.IdProduct + "</td>"
                                + "<td class='productCode'>" + productCode + "</td>"
                                + "<td class='productName'>" + productName + "</td>"
                                + "<td class='unitPrice'>" + productUnitPrice + "</td>"
                                + "<td class='quantity'>" + productQuantity + "</td>"
                                + "<td class='totalAmount'>" + totalAmount + "</td>"
                                + "<td class='idUnit hidden'>" + idUnit + "</td>"
                                + "<td class='idTax hidden'>" + idTax + "</td>"
                                + "<td><button class='btn btn-danger' type='button' onclick='removeTableRow(" + value.IdProduct + ")'>Eliminar</button></td>"
                                + "</tr>";

                            $('#noLineDetailValidation').addClass('hidden');
                            $('#productsTable tbody').append(tableRow);
                        }
                        
                        $('#totalAmount').val(parseFloat($('#totalAmount').val()) + totalAmount);
                    }
                })

                clearAddProductFields();
            }
        });
        //----------------------------- Finish Add Product Detail to Table ----------------------------------
    })

    function postAllBillToController() {
        var everythingRight = true;
        var paymentSelectedValue = $('#payment-select option:selected').val();
        var conditionSelectedValue = $('#condition-select option:selected').val();
        var tableLength = $('#productsTable tbody tr').length;
        var clientSelectedValue = $('#selectedClientId').val();

        if (paymentSelectedValue != 0 &&
            conditionSelectedValue != 0 &&
            tableLength > 0) {
            everythingRight = true;
        } else {
            if (paymentSelectedValue == 0) {
                $('#paymentMethodValidation').removeClass('hidden');
                everythingRight = false;
            }
            if (tableLength == 0) {
                $('#noLineDetailValidation').removeClass('hidden');
                everythingRight = false;
            }
            if (conditionSelectedValue == 0) {
                $('#conditionValidation').removeClass('hidden');
                everythingRight = false;
            }
            if (clientSelectedValue == "") {
                $('#clientSelectionValidation').removeClass('hidden');
                everythingRight = false;
            }
        }

        if (everythingRight) {
            $('#billFormContainer').addClass("hidden");
            $('#generatingBillContainer').removeClass("hidden");

            var allBill = {
                voucherType: $('#voucherType-select').val(),
                branchOffice: "002",
                terminal: "00001",
                country: "506",
                day: @DateTime.Now.Day,
                month: @DateTime.Now.Month,
                year: @DateTime.Now.Year,
                idTransmitter: "000000000001",
                situation: 1,
                idPayment: $('#payment-select').val(),
                idCondition: $('#condition-select').val(),
                clientId: $('#selectedClientId').val(),
                billProductDetails: transformProductDetails()
            }

            $.ajax({
                contentType: 'application/json; charset=utf-8;',
                dataType: 'json',
                url: '@Url.Action("SaveAllBill", "Billing")',
                    type: 'POST',
                    data: JSON.stringify(allBill)
            })
            .done(function (data) {
                if (data.state == 0) {
                    $('#generatingBillContainer').addClass("hidden");
                    $('#formUploadedContainer').removeClass("hidden");

                    //------------------------------- Embedded PDF data ----------------------------------
                    doc.setDrawColor(0);
                    doc.setFillColor(0, 0, 0);
                    doc.rect(0, 0, 612, 100, 'F');

                    //------------------------------- Bill Date ----------------------------
                    doc.setFontSize(12);

                    doc.setDrawColor(0);
                    doc.setFillColor(255, 255, 255);
                    doc.rect(400, 120, 80, 20, 'FD');
                    doc.setDrawColor(0);
                    doc.setFillColor(255, 255, 255);
                    doc.rect(480, 120, 120, 20, 'FD');
                    doc.setDrawColor(0);
                    doc.setFillColor(255, 255, 255);
                    doc.rect(400, 140, 80, 20, 'FD');
                    doc.setDrawColor(0);
                    doc.setFillColor(255, 255, 255);
                    doc.rect(480, 140, 120, 20, 'FD');

                    var date = $('#dateInput').val();

                    doc.text(410, 135, "Fecha:");
                    doc.text(510, 135, date);
                    doc.text(410, 155, "Vence:");
                    doc.text(510, 155, date);

                    //---------------------------- Finish Bill Date ------------------------

                    var base64Icon = getBase64Image(document.getElementById("testImg"));

                    var imgData = 'data:image/png;base64,' + base64Icon;
                    
                    doc.addImage(imgData, 'PNG', 5, 0, 200, 60);

                    //---------------------------- Client Data -----------------------------


                    doc.setFillColor(255, 255, 255);
                    doc.rect(10, 120, 65, 20, 'FD');
                    doc.rect(75, 120, 300, 20, 'FD');
                    doc.rect(10, 140, 65, 20, 'FD');
                    doc.rect(75, 140, 300, 20, 'FD');
                    doc.rect(10, 160, 65, 20, 'FD');
                    doc.rect(75, 160, 300, 20, 'FD');
                    doc.rect(270, 160, 30, 20, 'FD');

                    doc.text(15, 135, "Cliente:");
                    doc.text(15, 155, "Dirección:");
                    doc.text(15, 175, "Correo:");
                    doc.text(275, 175, "Tel:");
                    var clientEmail;
                    var clientName;
                    var clientPhone;

                    $.each(clientsList, function (index, value) {
                        if ($('#selectedClientId').val() == value.IdClient) {
                            clientEmail = value.Email;
                            clientName = value.Name + " " + value.LastName;
                            clientPhone = "61829671";
                        }
                    });

                    doc.text(80, 135, clientName);
                    doc.text(80, 175, clientEmail);
                    doc.text(310, 175, clientPhone);

                    //-------------------- Bill Details -------------------------

                    doc.setFillColor(255, 255, 255);
                    doc.rect(10, 200, 590, 30, 'FD');

                    doc.setFontSize(12);
                    doc.text(20, 220, "Código");
                    doc.text(80, 220, "Nombre");
                    doc.text(265, 220, "Precio");
                    doc.text(320, 220, "Cant.");
                    doc.text(380, 220, "Subtotal");
                    doc.text(450, 220, "Desc.");
                    doc.text(500, 220, "I.V.");
                    doc.text(545, 220, "Total");
                    doc.setFontSize(10);

                    var pdfRow = 250;
                    var bIVA = 0;
                    var bTotal = 0;

                    $('#productsTable tbody tr').each(function (rowIndex, row) {
                        var pdTotalPrice = 0;
                        var pdIVA = 0;

                        $.each(this.cells, function (cellIndex, cell) {
                            if (cellIndex == 1) {
                                doc.text(20, pdfRow, cell.textContent);
                            }
                            if (cellIndex == 2) {
                                doc.text(80, pdfRow, cell.textContent);
                            }
                            if (cellIndex == 3) {
                                doc.text(265, pdfRow, "¢" + cell.textContent);
                            }
                            if (cellIndex == 4) {
                                doc.text(330, pdfRow, cell.textContent);
                            }

                            doc.text(460, pdfRow, '0%');

                            if (cellIndex == 5) {
                                doc.text(385, pdfRow, "¢" + cell.textContent);
                                bTotal = bTotal + parseFloat(cell.textContent);
                                pdTotalPrice = parseFloat(cell.textContent);
                            }
                            if (cellIndex == 7) {
                                $.each(taxesList, function (index, value) {
                                    if (cell.textContent == value.IdTax) {
                                        console.log(pdTotalPrice);
                                        doc.text(500, pdfRow, value.Percentage + "%");
                                        pdIVA = (pdTotalPrice * value.Percentage) / 100;
                                        doc.text(540, pdfRow, "¢" + (pdTotalPrice + pdIVA));
                                        bIVA = bIVA + pdIVA;
                                    }
                                });
                            }
                        })

                        pdfRow = pdfRow + 20;
                    });

                    doc.text(250, pdfRow, "***** ULTIMA LINEA *****");

                    //-------------------------- Bill Totals ------------------------------

                    doc.setLineWidth(1);
                    doc.line(10, 700, 600, 700);

                    doc.setFillColor(255, 255, 255);
                    doc.rect(400, 700, 90, 20, 'FD');
                    doc.rect(490, 700, 110, 20, 'FD');
                    doc.rect(400, 720, 90, 20, 'FD');
                    doc.rect(490, 720, 110, 20, 'FD');
                    doc.rect(400, 740, 90, 20, 'FD');
                    doc.rect(490, 740, 110, 20, 'FD');
                    doc.rect(400, 760, 90, 20, 'FD');
                    doc.rect(490, 760, 110, 20, 'FD');

                    doc.setFontSize(12);
                    doc.text(405, 715, "Subtotal:");
                    doc.text(405, 735, "Descuento:");
                    doc.text(405, 755, "Impuestos:");
                    doc.text(405, 775, "Total:");
                    doc.text(495, 715, "¢" + bTotal);
                    doc.text(495, 735, "¢" + 0);
                    doc.text(495, 755, "¢" + bIVA);
                    doc.text(495, 775, "¢" + (bTotal + bIVA));

                    //----------------------- Generate and Send PDF ------------------------

                    setTimeout(function () {
                        var data = doc.output('datauristring');
                        var billPDF = {
                            base64PDF: data,
                            clientEmail: clientEmail
                        };

                        $.ajax({
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            url: '@Url.Action("SendMailToClient", "Billing")',
                                type: 'POST',
                                data: JSON.stringify(billPDF)
                        })
                        .done(function (data) {
                            console.log("Factura Enviada");
                        })
                        .fail(function () {
                            console.log("Factura No Enviada");
                        })

                        $('#embeddedPDF').attr('src', data);
                    }, 10)
                    //--------------------------------- Finish Embedded PDF data ------------------------------
                }
            })
            .fail(function () {
                console.log("ERROR");
            })
        }
        
    }

    function imageToBase64(img) {
        var canvas, ctx, dataURL, base64;
        canvas = document.createElement("canvas");
        ctx = canvas.getContext("2d");
        canvas.width = img.width;
        canvas.height = img.height;
        ctx.drawImage(img, 0, 0);
        dataURL = canvas.toDataURL("image/png");
        base64 = dataURL.replace(/^data:image\/png;base64,/, "");
        return base64;
    }

    function getBase64Image(img) {
        var canvas = document.createElement("canvas");
        canvas.width = img.width;
        canvas.height = img.height;
        var ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0);
        var dataURL = canvas.toDataURL("image/png");
        return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
    }

    function transformProductDetails() {
        var billProductDetailsArray = new Array();

        $('#productsTable tbody tr').each(function (rowIndex, row) {
            var currentProductDetail = new Object();

            $.each(this.cells, function (cellIndex, cell) {
                if (cellIndex == 0) {
                    currentProductDetail.IdProduct = cell.textContent;
                }
                if (cellIndex == 1) {
                    currentProductDetail.CodeProduct = cell.textContent;
                }
                if (cellIndex == 2) {
                    currentProductDetail.NameProduct = cell.textContent;
                }
                if (cellIndex == 3) {
                    currentProductDetail.UnitPrice = cell.textContent;
                }
                if (cellIndex == 4) {
                    currentProductDetail.Quantity = cell.textContent;
                }
                if (cellIndex == 5) {
                    currentProductDetail.TotalAmount = cell.textContent;
                }
                if (cellIndex == 6) {
                    currentProductDetail.IdUnit = cell.textContent;
                }
            })
            billProductDetailsArray.push(currentProductDetail);
        });

        return billProductDetailsArray;
    }

    function removeTableRow(productId) {
        var removedSubtotal = $('#rowWithProductId' + productId).find('.totalAmount').html();
        $('#totalAmount').val(parseFloat($('#totalAmount').val()) - removedSubtotal)
        $('#rowWithProductId' + productId).remove();
    }

    function clearAddProductFields() {
        $('#productsForSearch').val("");
        $('#selectedProductId').val("");
        $('#quantity-input').val(1);
        $('#productSelectionValidate').hide();
        $('#quantityValidate').hide();
    }
</script>
