@model FactuCR.Models.MasterInvoiceVoucher

@{
    ViewData["Title"] = "Details";
    ViewData["PanelTitle"] = "Detalles de una Factura";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<style>
    dl {
        color: black;
    }

    table {
        color: black;
    }
</style>

<label>Encabezado de la Factura</label>
<div>
    <dl class="dl-horizontal">
        <dt>
            Fecha de la Factura
        </dt>
        <dd>
            @{string year = 20 + Model.IdKeyNavigation.Year;}
            @Model.IdKeyNavigation.Day/@Model.IdKeyNavigation.Month/@year
        </dd>
        <dt>
            Tipo de documento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdKeyNavigation.IdConsecutiveNavigation.VoucherType)
        </dd>
        @if ((Model.IdKeyNavigation.IdConsecutiveNavigation.VoucherType) == "FE")
        {
            <dt>
                C&eacute;dula del cliente
            </dt>
            <dd>
                @Model.MasterReceiver.IdentificationNumber
            </dd>
            <dt>
                Nombre del cliente
            </dt>
            <dd>
                @Model.MasterReceiver.Fullname
            </dd>
        }
        <dt>
            Condici&oacute;n de venta
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdConditionNavigation.Name)
        </dd>
        <dt>
            M&eacute;todo de pago
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPaymentNavigation.Name)
        </dd>
    </dl>
</div>
<label>Lineas de detalle de la Factura</label>
<table id="datatable" class="table">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Unidad</th>
            <th>Precio Unitario</th>
            <th>Monto Total</th>
            <th>Monto de descuento</th>
            <th>Subtotal</th>
            <th>Monto total de linea</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var md in Model.MasterDetail)
        {
            <tr>
                <td>@md.Code</td>
                <td>@md.NameProduct</td>
                <td>@md.MeasuredUnitSymbology</td>
                <td>@md.UnitPrice</td>
                <td>@md.TotalAmount</td>
                <td>@md.DiscountAmount</td>
                <td>@md.Subtotal</td>
                <td>@md.TotalLineAmount</td>
            </tr>
        }
    </tbody>
</table>
<div class="ln_solid"></div>
<div>
    <a asp-action="Index" class="btn btn-default"><i class="fa fa-caret-square-o-left" aria-hidden="true"></i> Regresar a la lista</a>
</div>
