@model IEnumerable<FactuCR.Models.MasterInvoiceVoucher>

@{
    ViewData["Title"] = "Index";
    ViewData["PanelTitle"] = "Lista de Facturas y Tiquetes Electrónicos";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<table id="datatable" class="table table-bordered">
    <thead>
        <tr>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XmlEnviadoBase64)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RespuestaMhbase64)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Env)
            </th>
            -->
            <th>
                Tipo de documento
            </th>
            <th>
                Identificaci&oacute;n del cliente
            </th>
            <th>
                Nombre del cliente
            </th>
            <th>
                Pa&iacute;s
            </th>
            <th>
                M&eacute;todo de pago
            </th>
            <th>
                Condici&oacute;n
            </th>
            <th>
                Fecha
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <!--
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XmlEnviadoBase64)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RespuestaMhbase64)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Env)
            </td>
            -->
            <td>
                @Html.DisplayFor(modelItem => item.IdKeyNavigation.IdConsecutiveNavigation.VoucherType)    
            </td>
            <td>
                @{ 
                    if (item.MasterReceiver == null)
                    {
                        <text>No aplica</text>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.MasterReceiver.IdentificationNumber)
                    }
                }
            </td>
            <td>
                @{
                    if (item.MasterReceiver == null)
                    {
                        <text>No aplica</text>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.MasterReceiver.Fullname)
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKeyNavigation.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPaymentNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdConditionNavigation.Name)
            </td>
            <td>
                @{ 
                    var day = item.IdKeyNavigation.Day;
                    var month = item.IdKeyNavigation.Month;
                    var year = 20 + item.IdKeyNavigation.Year;
                }
                @day/@month/@year
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdKey" class="label label-default">Detalles</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="ln_solid"></div>
<a asp-action="Create" class="btn btn-success"><i class="fa fa-plus"></i> Ingresar nuevo documento</a>
