@model IEnumerable<FactuCR.Models.ProductFamily>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <!-- Init Panel Title -->
            <div class="x_title">
                <h2>Lista de Categor&iacute;as</h2>
                <!-- Top Right Tools Menu -->
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <!-- Finish Top Right Tools Menu -->
                <div class="clearfix"></div>
            </div>
            <!-- Finish Panel Title -->
            <!-- Init Panel Content -->
            <div class="x_content">
                <!-- Init categories table -->
                <table id="datatable" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FamilyType)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FamilyType)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.IdFamily">Edit</a> |
                                    <a asp-action="Delete" asp-route-id="@item.IdFamily">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    </table>
                    <!-- Finish categories table -->
                    <a asp-action="Create" class="btn btn-primary">Ingresar nueva familia</a>
            </div>
            <!-- Finish Panel Content -->
        </div>
    </div>
</div>
