@model IEnumerable<FactuCR.Models.Provider>

@{
    ViewData["Title"] = "Index";
    ViewData["PanelTitle"] = "Lista de Proveedores";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<table id="datatable" class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdentificationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTypeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdentificationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTypeNavigation.Name, "", "Pruebas")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProvider" class="label label-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</a>
                <a asp-action="Details" asp-route-id="@item.IdProvider" class="label label-info"><i class="fa fa-list-alt" aria-hidden="true"></i> Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.IdProvider" class="label label-danger"><i class="fa fa-trash-o"></i> Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="ln_solid"></div>
<a asp-action="Create" class="btn btn-success"><i class="fa fa-plus-square" aria-hidden="true"></i> Ingresar Proveedor</a>