@model IEnumerable<FactuCR.Models.Product>

@{
    ViewData["PanelTitle"] = "Lista de Productos";
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<table id="datatable" class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodeProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfitPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoryNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCurrencyNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDiscountNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProviderNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTaxNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUnitNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodeProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfitPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoryNavigation.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCurrencyNavigation.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDiscountNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProviderNavigation.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTaxNavigation.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUnitNavigation.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProduct">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProduct">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProduct">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">Ingresar Producto</a>
