@model IEnumerable<FactuCR.Models.Discount>

@{
    ViewData["Title"] = "FCR - Lista de Descuentos";
    ViewData["PanelTitle"] = "Lista de descuentos";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<form class="form-horizontal">
    <div class="form-group">
        <div class="col-md-7 col-md-offset-2">
            <table id="datatable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Percentage)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Percentage)%
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.IdDiscount" class="label label-success">Editar</a>
                                <a asp-action="Delete" asp-route-id="@item.IdDiscount" class="label label-danger">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="ln_solid"></div>
            <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus"></i> Agregar Descuento</a>
        </div>
    </div>
</form>
